@media (max-width: 900px) {
    .home-blogs {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767px) {
    .header {
        position: relative;
    }
    .header-logo {
        text-align: center;
    }
    .header-container {
        display: block;
    }
    .header-menu-list {
        display: block;
        background-color: white;
        height: auto;
        text-align: center;
        position: fixed;
        z-index: 50;
        right: 30px;
        bottom: -180px;
        border-radius: 10%;
        box-shadow: 4px 4px 10px rgba(0,0,0,.5);
        transition: .2s;
    }
    .header-menu-list.is-active {
        bottom: 100px;
    }
    nav li {
        height: 40px;
        display: flex;
        text-align: center;
        align-items: center;
    }
    nav li a {
        color: black;
        width: 100%;
    }
    .menu-burger-button {
        display: flex;
        
    }
}
@media (max-width: 600px) {
    .home-blogs {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px) {
    .footer__container {
        display: block;
        /* text-align: center; */
    }
}